<h2>Parent component</h2>
<!-- <input type="text" #pcomponent (keyup)="0"><br>
<app-child [pdata]="pcomponent.value"></app-child> -->

<!-- <ng-content></ng-content> -->
<!-- <app-child></app-child> -->

<!-- <ng-content select="p"></ng-content>  here select used for filter  -->
<!-- <ng-content select="h1"></ng-content> -->


<app-child name="dev"></app-child>
<app-child name="panda"></app-child>
<app-child name="debu"></app-child>
<app-child name="panda"></app-child>

<button (click)="increase()">Increase by one</button>
<button (click)="decrease()">Decrease by one</button>
