<h2>Angular Component Lifecycle Hook</h2>

<!-- <button (click)="showhide()">Show/Hide</button> -->

<!-- <app-parent *ngIf="isshow"></app-parent> -->
<!-- <app-parent>
  <app-child></app-child>
</app-parent> -->
<!-- <app-parent></app-parent> -->

<!-- <ng-template>
  This will not visible, without directive it will not work (ngIf, ngFor, ngSwitch need to use to visible)
</ng-template> -->

<!-- <ng-container>
  without directive it work and it will visible. if we want to hide we can use directive *ngIf='false'
</ng-container> -->
<br/>
<!-- <app-parent>
  <p>Content projection</p>
  <button type="submit">submit</button>
  <h1>Content projection</h1>
  <p>{{title}}</p> 
</app-parent> -->

<app-parent></app-parent>